.shop-container{
  
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.product-container{
    border-right: 1px solid grey;
    margin-left: 5px;
    text-align: start;
}
.search-container{
    padding: 10px;
    background-color:black;

}

.input-feild{
    width: 75%;
}